<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <title>News Photo App showcasing `modown` libraries</title>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
    <!-- TODO selectively include css assets based on route -->
    {{#if gallery}}
    <link rel="stylesheet" href="http://purecss.io/combo/1.6.3?/css/layouts/gallery.css">
    {{else}}
    <!-- <link rel="stylesheet" href="http://purecss.io/combo/1.6.3?/css/layouts/blog.css"> -->
    {{/if}}

</head>
<body>
    <div class="header">
        <div class="pure-menu pure-menu-open pure-menu-horizontal">
            <a class="pure-menu-heading" href="/">PhotoNews</a>
            <ul>
                <li class="pure-menu-selected"><a href="/news">News</a></li>
                <li><a href="/photos">Photos</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
    </div>

    <div>
        <!-- <h1>Latest Updates</h1> -->
    </div>

    <div id="content">
        <div class="pure-g-r">
            <div class="pure-u-1-2">
            </div>
            <div class="pure-u-1-2">
            </div>
        </div>
    </div>

    <div id="body">
        {{{outlet}}}
    </div>

    <script>{{{state}}}</script>
    <script>
    app.yui.use('photonews-template-news', function (Y) {
        console.log(Y.Template);
    });
    </script>
</body>
</html>
