<div class="pure-g-r">
	<div class="pure-u-1-5">
	</div>
	<div class="pure-u-3-5">
		<div class="content">
			<div class="posts">
				<h1 class="content-subhead">Latest Stories</h1>

				<!-- A single blog post -->	
				{{#articles}}
				<section class="post">
					<header class="post-header">
						<h4 class="post-title">{{{title}}}</h4>
						<p class="post-meta">
							Published on {{publishedDate}}.
						</p>
					</header>
					<div class="post-description">
						<p>
							{{{content}}}
						</p>
					</div>
				</section>
				{{/articles}}

			</div> <!-- <div class="posts"> -->
		</div>
	</div>
	<div class="pure-u-1-5">
	</div>
</div>

<p></p>
<!-- TODO add some space here, and center the paginator -->
<div style="text-align: center;">
	<ul class="pure-paginator">
	    <li><a class="pure-button prev" href="#">&#171;</a></li>
	    <li><a class="pure-button pure-button-active" href="#">1</a></li>
	    <li><a class="pure-button" href="#">2</a></li>
	    <li><a class="pure-button" href="#">3</a></li>
	    <li><a class="pure-button" href="#">4</a></li>
	    <li><a class="pure-button" href="#">5</a></li>
	    <li><a class="pure-button next" href="#">&#187;</a></li>
	</ul>
</div>
