<div class="pure-g-r">
	<div class="pure-u-1-5">
	</div>
	<div class="pure-u-3-5">

		<div class="pure-g-r">
			{{#photos}}
	        <div class="pure-u-1-2 photo-box">
	        	<div xclass="l-box">
		            <a href="{{url}}"><img src="{{url}}" alt="{{title}}"></a>
		            <aside class="photo-box-caption">{{title}}</aside>
	            </div>
	        </div>
	        {{/photos}}
		</div>

	</div>
	<div class="pure-u-1-5">
	</div>
</div>

<p></p>
<!-- TODO add some space here, and center the paginator -->
<div style="text-align: center;">
	<ul class="pure-paginator">
	    <li><a class="pure-button prev" href="#">&#171;</a></li>
	    <li><a class="pure-button pure-button-active" href="#">1</a></li>
	    <li><a class="pure-button" href="#">2</a></li>
	    <li><a class="pure-button" href="#">3</a></li>
	    <li><a class="pure-button" href="#">4</a></li>
	    <li><a class="pure-button" href="#">5</a></li>
	    <li><a class="pure-button next" href="#">&#187;</a></li>
	</ul>
</div>

