
<div id="home">
	<div class="pure-g-r">
		<div class="pure-u-1-5">
		</div>
		<div class="pure-u-3-5">
			<h4>Landing Page</h4>
			<div>
        Use the links in the top menu to naviage between <a href="/news">news</a> 
        and <a href="/photos">photos</a>.
			</div>
		</div>
		<div class="pure-u-1-5">
		</div>
	</div>
</div>
